{% extends 'base/base.html' %}
{% load static %}
{% block css %}

{% endblock css %}
{% block menu %}
    {% if user.type == 8 %}
    {% include 'menu/menu_tarozi_hisobchi.html' %}
    {% elif user.type == 10  %}
    {% include 'menu/menu_texnolog.html' %}
    {% elif user.type == 4  %}
    {% include 'menu/menu_sotuvchi.html' %}
    {% else %}
    {% include 'menu/menu_tarozi_moliya.html' %}
    {% endif %}
{% endblock menu %}
{% block content %}
    <div class="content-wrapper">
        <div class="container-full">
            <section class="content">
                <div class="row">
                    <div class="col-12">
                        <div class="box">
                            <div class="box-header with-border">
                                <div class="row">
                                    <div class="col-xl-4">
                                        <h4 class="box-title">Buyurtmalar ro'yxati</h4>
                                       
                                    </div>
                                    <div class="col-xl-4">

                                    </div>
                                    <div class="col-xl-4">
                                        <div class="input-group">
                                            <input type="text" style="border: 1px solid rgb(126, 126, 182);" onchange="filterdate(this)"
                                                   class="form-control pull-right" id="reservation">
                                            <a href="" id="date_f">
                                                <div class="input-group-addon"
                                                     style="padding:10px; border-radius: 0px 10px 10px 0px;">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                            </a>

                                        </div>
                                  
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="table-responsive-lg">
                                    <table class="table mb-0"  id="excel">
                                        <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Xaridor</th>
                                            <th scope="col">Sotuvchi</th>
                                            <th scope="col">Summa</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Sana</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            
                                        {% for ord in orders %}
                                            <tr>
                                                <th scope="row">{{ forloop.counter }}</th>
                                                <td>
                                                    <a href="{% url 'sotuvchi-order-detail-active' ord.id %}">{{ ord.customer.name }}</a>
                                                </td>
                                                <td>{{ ord.seller.first_name }} {{ ord.seller.last_name }}</td>
                                                <td>{{ ord.summa_total }}</td>
                                                {% if ord.status == '1' %}
                                                    <td><span class="badge badge-warning">Buyurtma olindi</span></td>
                                                {% endif %}
                                                {% if ord.status == '2' %}
                                                    <td><span class="badge badge-primary">Yuklanmoqda</span></td>
                                                {% endif %}
                                                {% if ord.status == '3' %}
                                                    <td><span class="badge badge-primary">Yuklanmoqda</span></td>
                                                {% endif %}
                                                {% if ord.status == '4' %}
                                                    <td><span class="badge badge-success">Bajarildi</span></td>
                                                {% endif %}
                                                <td>{{ ord.date|date:'Y-m-d' }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Xaridor</th>
                                            <th scope="col">Sotuvchi</th>
                                            <th scope="col">{{ total_sum }}</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Sana</th>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock content %}
{% block js %}
    <script src="{% static 'assets/vendor_components/datatable/datatables.min.js'%}"></script>
    <script src="{% static 'main/js/pages/data-table.js'%}"></script>
    
    <script>
        // $('#excel').DataTable( {
        //     dom: 'Bfrtip',
        //     buttons: [
        //      'excel','pdf'
        //     ]
        // } );

        $('#excel').DataTable( {
            'dom': 'Blfrtip',
            'buttons': [
            { extend: 'excel', className: 'excelButton' },
            { extend: 'pdf', className: 'pdfButton' }
            ],
            'pageLength':100,
            'lengthChange': true,
            
        } );
    </script>
    <script src="{% static 'assets/vendor_components/select2/dist/js/select2.full.js' %}"></script>
    <script src="{% static 'assets/vendor_plugins/input-mask/jquery.inputmask.js' %}"></script>
    <script src="{% static 'assets/vendor_components/moment/min/moment.min.js' %}"></script>
    <script src="{% static 'assets/vendor_components/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'assets/vendor_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'main/js/pages/advanced-form-element.js' %}"></script>
    <script>
      function filterdate(date) {
        var date_str = date.value.split(" - ")
        console.log(date_str)
        let filter_1 = date_str[0].split("/")
        let result_1 = `${filter_1[1]}/${filter_1[0]}/${filter_1[2]}`

        let filter_2 = date_str[1].split("/")
        let result_2 = `${filter_2[1]}/${filter_2[0]}/${filter_2[2]}`

        var url_f = "?date_start=" + result_1 + "&date_end=" + result_2;
        $("#date_f").attr("href", url_f);
        }
    </script>
{% endblock js %}