{% extends 'base/base.html' %}
{% load static %}
{% load humanize %}
{% block menu %}
    {% include 'menu/menu_director.html' %}
{% endblock menu %}
{% block content %}
    <div class="content-wrapper" style="background:rgb(8, 5, 27)">
        <div class="container-full">

            <!-- Main content -->
            <section class="content">
                <div class="row">
                    <div class="col-12 py-4">
                        <div class="row" style="margin: 0 auto">
                            <div class="offset-lg-3 col-lg-2 py-1 text-center">
                                <input type="date" style="background:rgb(8, 8, 41)" id="start" class="form-control mt-1">
                            </div>
                            <div class="col-lg-2 py-1 text-center">
                                <input type="date" style="background:rgb(8, 8, 41)" id="end" class="form-control mt-1">
                            </div>
                            <div class="col-lg-1 py-1 text-center">
                                <button id="myFunction" onclick="myFunction()" class="btn btn-primary">Filtrlash</button>
                            </div>
                        </div>
                    </div>

                     <div class="col-12 " id="message_container">
                        {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == 'success' %}
                        <button class="tst3 btn btn-success btn-block mb-15">{{ message }}</button>
                        {% elif message.tags == 'error' %}
                        <button class="tst3 btn btn-danger btn-block mb-15">{{ message }}</button>
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col-xl-2 col-6">
                        <div class="box overflow-hidden pull-up" style="background:rgb(24, 24, 56);" style="background:rgb(24, 24, 56);">
                            <div class="box-body">
                                <div style="margin: 0 auto" class="icon bg-primary-light rounded w-60 h-60">
                                    <i class="text-primary mr-0 font-size-24 mdi mdi-currency-usd"></i>
                                </div>
                                <div>
                                    <p class="text-mute mt-20 mb-0 font-size-16 text-center">Kassa</p>
                                    <h4 class=" mb-0 font-weight-500 text-center">{{ cash.naqd_pull_sum|intcomma }}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-6">
                        <div class="box overflow-hidden pull-up" style="background:rgb(24, 24, 56);">
                            <div class="box-body">
                                <div style="margin: 0 auto" class="icon bg-primary-light rounded w-60 h-60">
                                    <i class="text-primary mr-0 font-size-24 mdi mdi-currency-usd"></i>
                                </div>
                                <div>
                                    <p class="text-mute mt-20 mb-0 font-size-16 text-center">Kassa($)</p>
                                    <h4 class=" mb-0 font-weight-500 text-center">{{ cash.naqd_pull_dollor|intcomma }}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-6">
                        <div class="box overflow-hidden pull-up" style="background:rgb(24, 24, 56);">
                            <div class="box-body">
                                <div style="margin: 0 auto" class="icon bg-primary-light rounded w-60 h-60">
                                    <i class="text-primary mr-0 font-size-24 mdi mdi-account-multiple"></i>
                                </div>
                                <div>
                                    <p class="text-center text-mute mt-20 mb-0 font-size-16">Bugdoy taminotchilari</p>
                                    <h4 class=" mb-0 font-weight-500 text-center">{{ client_bugdoy|intcomma }}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-6">
                        <div class="box overflow-hidden pull-up" style="background:rgb(24, 24, 56);">
                            <div class="box-body">
                                <div style="margin: 0 auto" class="icon bg-primary-light rounded w-60 h-60">
                                    <i class="text-primary mr-0 font-size-24 mdi mdi-account-multiple"></i>
                                </div>
                                <div>
                                    <p class="text-center text-mute mt-20 mb-0 font-size-16">Un taminotchilari</p>
                                    <h4 class=" mb-0 font-weight-500 text-center">{{ client_un|intcomma }}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-6">
                        <div class="box overflow-hidden pull-up" style="background:rgb(24, 24, 56);">
                            <div class="box-body">
                                <div style="margin: 0 auto" class="icon bg-primary-light rounded w-60 h-60">
                                    <i class="text-primary mr-0 font-size-24 mdi mdi-account-multiple"></i>
                                </div>
                                <div>
                                    <p class="text-center text-mute mt-20 mb-0 font-size-16">Mijozlar</p>
                                    <h4 class=" mb-0 font-weight-500 text-center">{{ client_un_yem|intcomma }}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-6">
                        <div class="box overflow-hidden pull-up" style="background:rgb(24, 24, 56);">
                            <div class="box-body">
                                <div style="margin: 0 auto" class="icon bg-primary-light rounded w-60 h-60">
                                    <i class="text-primary mr-0 font-size-24 mdi mdi-account-multiple"></i>
                                </div>
                                <div>
                                    <p class="text-mute mt-20 mb-0 font-size-16 text-center">Taminotchilarda qarzdorlik</p>
                                    <h4 class=" mb-0 font-weight-500 text-center">{{ akt_debt|intcomma }}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-6">
                        <div class="box overflow-hidden pull-up" style="background:rgb(24, 24, 56);">
                            <div class="box-body">
                                <div style="margin: 0 auto" class="icon bg-warning-light rounded w-60 h-60">
                                    <i class="text-warning mr-0 font-size-24 mdi mdi-car"></i>
                                </div>
                                <div>
                                    <p class="text-mute mt-20 mb-0 font-size-16 text-center">Mijozlar qarzdorligi</p>
                                    <h4 class=" mb-0 font-weight-500 text-center">{{ customer_debt|intcomma }} </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-6">
                        <div class="box overflow-hidden pull-up" style="background:rgb(24, 24, 56);">
                            <div class="box-body">
                                <div style="margin: 0 auto" class="icon bg-info-light rounded w-60 h-60">
                                    <i class="text-info mr-0 font-size-24 mdi mdi-sale"></i>
                                </div>
                                <div>
                                    <p class="text-mute mt-20 mb-0 font-size-16 text-center">Mijozlar haqdorlik</p>
                                    <h4 class=" mb-0 font-weight-500 text-center">{{ our_debt|intcomma }}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-6">
                        <div class="box overflow-hidden pull-up" style="background:rgb(24, 24, 56);">
                            <div class="box-body">
                                <div style="margin: 0 auto" class="icon bg-warning-light rounded w-60 h-60">
                                    <i class="text-warning mr-0 font-size-24 mdi mdi-car"></i>
                                </div>
                                <div>
                                    <p class="text-mute mt-20 mb-0 font-size-16 text-center">Kelayotgan Un</p>
                                    <h4 class=" mb-0 font-weight-500 text-center" id="un_new">{{ un_new|intcomma }} </h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-2 col-6">
                        <div class="box overflow-hidden pull-up" style="background:rgb(24, 24, 56);">
                            <div class="box-body">
                                <div style="margin: 0 auto" class="icon bg-warning-light rounded w-60 h-60">
                                    <i class="text-warning mr-0 font-size-24 mdi mdi-car"></i>
                                </div>
                                <div>
                                    <p class="text-mute mt-20 mb-0 font-size-16 text-center">Kelgan Un</p>
                                    <h4 class=" mb-0 font-weight-500 text-center" id="un_old">{{ un_old|intcomma }} </h3>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-xl-2 col-6">
                        <div class="box overflow-hidden pull-up" style="background:rgb(24, 24, 56);">
                            <div class="box-body">
                                <div style="margin: 0 auto" class="icon bg-warning-light rounded w-60 h-60">
                                    <i class="text-warning mr-0 font-size-24 mdi mdi-car"></i>
                                </div>
                                <div>
                                    <p class="text-mute mt-20 mb-0 font-size-16 text-center">Faol chiqimlar</p>
                                    <h4 class=" mb-0 font-weight-500 text-center">{{ nw_layout|intcomma }} </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-6">
                        <div class="box overflow-hidden pull-up" style="background:rgb(24, 24, 56);">
                            <div class="box-body">
                                <div style="margin: 0 auto" class="icon bg-warning-light rounded w-60 h-60">
                                    <i class="text-warning mr-0 font-size-24 mdi mdi-car"></i>
                                </div>
                                <div>
                                    <p class="text-mute mt-20 mb-0 font-size-16 text-center">To'langan chiqimlar</p>
                                    <h4 class=" mb-0 font-weight-500 text-center">{{ old_layout|intcomma }} </h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-2 col-6">
                        <div class="box overflow-hidden pull-up" style="background:rgb(24, 24, 56);">
                            <div class="box-body">
                                <div style="margin: 0 auto" class="icon bg-danger-light rounded w-60 h-60">
                                    <i class="text-danger mr-0 font-size-24 mdi mdi-phone-incoming"></i>
                                </div>
                                <div>
                                    <p class="text-mute mt-20 mb-0 font-size-16 text-center">Active buyurtmalar</p>
                                    <h4 class=" mb-0 font-weight-500 text-center" id="neworder">{{ neworder|intcomma }}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-6">
                        <div class="box overflow-hidden pull-up" style="background:rgb(24, 24, 56);">
                            <div class="box-body">
                                <div style="margin: 0 auto" class="icon bg-success-light rounded w-60 h-60">
                                    <i class="text-success mr-0 font-size-24 mdi mdi-check-all"></i>
                                </div>
                                <div>
                                    <p class="text-mute mt-20 mb-0 font-size-16 text-center">Muvofaqiyatli buyurtmalar</p>
                                    <h4 class=" mb-0 font-weight-500  text-center" id="oldorder">{{ oldorder|intcomma }}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-6">
                        <div class="box overflow-hidden pull-up" style="background:rgb(24, 24, 56);">
                            <div class="box-body">
                                <div style="margin: 0 auto" class="icon bg-light rounded w-60 h-60">
                                    <i class="text-white mr-0 font-size-24 mdi mdi-chart-line"></i>
                                </div>
                                <div>
                                    <p class="text-mute mt-20 mb-0 font-size-16 text-center">Faol Qaytuvlar qiymati</p>
                                    <h4 class=" mb-0 font-weight-500 text-center" id="newqaytuv">{{ newqaytuv|intcomma }}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2 col-6">
                        <div class="box overflow-hidden pull-up" style="background:rgb(24, 24, 56);">
                            <div class="box-body">
                                <div style="margin: 0 auto" class="icon bg-light rounded w-60 h-60">
                                    <i class="text-white mr-0 font-size-24 mdi mdi-check-all"></i>
                                </div>
                                <div>
                                    <p class="text-mute mt-20 mb-0 font-size-16 text-center">Muvofaqiyatli Qaytuvlar</p>
                                    <h4 class=" mb-0 font-weight-500 text-center" id="oldqaytuv">{{ oldqaytuv|intcomma }}</h3>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-xl-6 col-12">
					    <div class="box">
						    <div class="box-body" style="background:rgb(24, 24, 56);">
                                <h4 class="box-title">Kirim Turlari</h4>
                                <div>
                                    <canvas id="doughnut-chart" height="200"></canvas>
                                </div>
                            </div>
					    </div>
                    </div>
                    <div class="col-xl-6 col-12">
                        <div class="box">
                            <div class="box-body" style="background:rgb(24, 24, 56);">
                                <h4 class="box-title">Chiqim Turlari</h4>
                                <div>
                                    <canvas id="doughnut-chart1" height="200"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
				</div>
                <div class="row">
                    <div class="col-xl-12 col-12">
                        <div class="box" style="background:rgb(24, 24, 56);">
                            <div class="box-header">
                                <h4 class="box-title">
                                    Un va Yem grafigi
                                </h4>
                            </div>
                            <div class="box-body py-0">
                                <div class="row">
                                    <div class="col-lg-12 col-12 py-4">
                                        <div class="box no-shadow mb-0">
                                            <select class="form-control" id="customer" style="background:rgb(24, 24, 56);">
                                                <option value=""  disabled selected>Mijoz tanlang</option>
                                                {% for cus in customers %}
                                                <option value="{{ cus.id }}">{{ cus.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div id="charts_widget_43_chart"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-12">
                        <div class="box" style="background:rgb(24, 24, 56);">
                            <div class="box-header">
                                <h4 class="box-title">
                                    Bug'doy grafigi
                                </h4>
                            </div>
                            <div class="box-body py-0" style="background:rgb(24, 24, 56);">
                                <div class="row">
                                    <div class="col-lg-12 col-12 py-4">
                                        <div class="box no-shadow mb-0">
                                            <select class="form-control" id="client" style="background:rgb(24, 24, 56);">
                                                <option value="" disabled selected>Taminotchini tanlang</option>
                                                {% for cus in clients %}
                                                <option value="{{ cus.id }}">{{ cus.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div id="charts_widget_43_chart1"></div>
                            </div>
                        </div>
                    </div>
                </div>

 <!-- table hududlar buyicha summalar  -->
 <div class="col-12">
    <div class="box" style="background:rgb(24, 24, 56);">
        <div class="box-header">
            <h4 class="box-title">Hududlar buylab sotuv summalari</h4>
        </div>
        <div class="box-body">
            <div class="table-responsive">
                <table  class="table table-striped table-bordered display" style="width:100%">
                    <thead>
                        <tr> 
                            <th>#</th>
                            <th colspan="2" style="padding-left: 100px;" class="border">Toshkent</th>
                            <th colspan="2" class="border">Sirdaryo</th>
                            <th colspan="2" class="border">Jizzax</th>
                            <th colspan="2" class="border">Samarqand</th>
                            <th colspan="2" class="border">Buxoro</th>
                            <th colspan="2" class="border">Navoiy</th>
                            <th colspan="2" class="border">Xorazm</th>
                            <th colspan="2" class="border">Qoraqalpogiston</th>
                            <th colspan="2" class="border">Farg'ona</th>
                            <th colspan="2" class="border">Namangan</th>
                            <th colspan="2" class="border">Andijon</th>
                            <th colspan="2" class="border">Afg'on</th>
                            <th colspan="2" class="border">Qashqadaryo</th>
                            <th colspan="2" class="border">Surxondaryo</th>
                            <th colspan="2" class="border">Jami: </th>

                        </tr>
                    </thead>
                    <!-- hududlar aro summalar  -->
                    <tbody id="hudud_summa">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

                <!-- table har bir sotuvching hudlarga sotgan savdo sumasi  -->
                <div class="col-12">
                <div class="box" style="background:rgb(24, 24, 56);">
                    <div class="box-header">
                        <h4 class="box-title">Sotuvchilarning hududlarga sotgan sotuv summasi</h4>
                    </div>
                    <div class="box-body">
                        <div class="table-responsive" id="seller_hudud_summa">

                        </div>
                    </div>
                </div>
            </div>

            </section>
            <!-- /.content -->
        </div>
    </div>
{% endblock content %}

{% block js %}
    <script src="{% static 'assets/vendor_components/easypiechart/dist/jquery.easypiechart.js' %}"></script>
    <script src="{% static 'assets/vendor_components/apexcharts-bundle/irregular-data-series.js' %}"></script>
    <script src="{% static 'assets/vendor_components/apexcharts-bundle/dist/apexcharts.js' %}"></script>

    <!-- Sunny Admin App -->
    <script src="{% static 'assets/vendor_components/chart.js-master/Chart.min.js'%}"></script>

    <script>
		var ctx7 = document.getElementById("doughnut-chart").getContext("2d");
		var data7 = {
			 labels: [
			"Naqd",
			"Bank",
			"Plastik"
		],
		datasets: [
			{
				data: [parseInt({{ incomenaqd }}), parseInt({{ incomebank }}), parseInt({{ incomeplastik }})],
				backgroundColor: [
					"#389f99",
					"#ee1044",
					"#ff8f00"
				],
				hoverBackgroundColor: [
					"#18625e",
					"#b31338",
					"#c0720f"
				]
			}]
		};

		var doughnutChart = new Chart(ctx7, {
			type: 'doughnut',
			data: data7,
			options: {
				animation: {
					duration:	3000
				},
				responsive: true,
				legend: {
					labels: {
					fontFamily: "Nunito Sans",
					fontColor:"#878787"
					}
				},
				tooltip: {
					backgroundColor:'rgba(33,33,33,1)',
					cornerRadius:0,
					footerFontFamily:"'Nunito Sans'"
				},
				elements: {
					arc: {
						borderWidth: 0
					}
				}
			}
		});

    </script>
    <script>
		var ctx7 = document.getElementById("doughnut-chart1").getContext("2d");
		var data7 = {
			 labels: [
			"Naqd",
			"Bank",
			"Plastik"
		],
		datasets: [
			{
				data: [parseInt({{ expansenaqd }}), parseInt({{ expansebank }}), parseInt({{ expanseplastik }})],
				backgroundColor: [
					"#389f99",
					"#ee1044",
					"#ff8f00"
				],
				hoverBackgroundColor: [
					"#18625e",
					"#b31338",
					"#c0720f"
				]
			}]
		};

		var doughnutChart = new Chart(ctx7, {
			type: 'doughnut',
			data: data7,
			options: {
				animation: {
					duration:	3000
				},
				responsive: true,
				legend: {
					labels: {
					fontFamily: "Nunito Sans",
					fontColor:"#878787"
					}
				},
				tooltip: {
					backgroundColor:'rgba(33,33,33,1)',
					cornerRadius:0,
					footerFontFamily:"'Nunito Sans'"
				},
				elements: {
					arc: {
						borderWidth: 0
					}
				}
			}
		});

    </script>
    <script src="{% static 'main/js/template.js' %}"></script>
     <script>
        $(function (){
            var options = {
                series: [{
                    name: "Order",
                    data: [parseInt('{{jank}}'), parseInt('{{febk}}'), parseInt('{{mark}}'), parseInt('{{aprk}}'), parseInt('{{mayk}}'), parseInt('{{junk}}'), parseInt('{{julk}}'), parseInt('{{augk}}'), parseInt('{{sepk}}'), parseInt('{{octk}}'), parseInt('{{novk}}'), parseInt('{{deck}}')]
                },
                {   name: "Qaytuv",
                    data: [parseInt('{{janch}}'), parseInt('{{febch}}'), parseInt('{{march}}'), parseInt('{{aprch}}'), parseInt('{{maych}}'), parseInt('{{junch}}'), parseInt('{{julch}}'), parseInt('{{augch}}'), parseInt('{{sepch}}'), parseInt('{{octch}}'), parseInt('{{novch}}'), parseInt('{{decch}}')]
                }],
                chart: {
                foreColor:"#bac0c7",
                  height: 385,
                  type: 'line',
                  zoom: {
                    enabled: false
                  }
                },
                colors:['#0F5EF7', '#ff0000'],
                dataLabels: {
                  enabled: false,
                },
                stroke: {
                    show: true,
                    curve: 'smooth',
                    lineCap: 'butt',
                    colors: undefined,
                    width: 5,
                    dashArray: 0,
                },
                markers: {
                    size: 5,
                    colors: '#ffffff',
                    strokeColors: ['#0F5EF7', '#ff0000'],
                    strokeWidth: 3,
                    strokeOpacity: 0.9,
                    strokeDashArray: 0,
                    fillOpacity: 1,
                    discrete: [],
                    shape: "circle",
                    radius: 5,
                    offsetX: 0,
                    offsetY: 0,
                    onClick: undefined,
                    onDblClick: undefined,
                    hover: {
                      size: undefined,
                      sizeOffset: 3
                    }
                },
                grid: {
                    borderColor: '#f7f7f7',
                  row: {
                    colors: ['transparent'], // takes an array which will be repeated on columns
                    opacity: 0
                  },
                  yaxis: {
                    lines: {
                      show: true,
                    },
                  },
                },
                xaxis: {
                  categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                  labels: {
                    show: true,
                  },
                  axisBorder: {
                    show: true
                  },
                  axisTicks: {
                    show: true
                  },
                  tooltip: {
                    enabled: true,
                  },
                },
                yaxis: {
                  labels: {
                    show: true,
                    formatter: function (val) {
                      return val + " sum";
                    }
                  },
                },
              };
            const chart = new ApexCharts(document.querySelector("#charts_widget_43_chart"), options);
            chart.render();
            if ( $("#customer").change(function ()  {
                customer = document.getElementById('customer').value;
                var data = {
                        'customer': String(customer),
                    }
                $.ajax({
                    type: 'GET',
                    url: '{% url "getchangechartdash" %}',
                    data: data,
                    success: function (dt) {
                        chart.updateSeries([{
                            name: "Buyurtma",
                            data: [parseInt(dt.jank), parseInt(dt.febk), parseInt(dt.mark), parseInt(dt.aprk), parseInt(dt.mayk), parseInt(dt.junk), parseInt(dt.julk), parseInt(dt.augk), parseInt(dt.sepk), parseInt(dt.octk), parseInt(dt.novk), parseInt(dt.deck)]
                        },
                        {   name: "Qaytuv",
                            data: [parseInt(dt.janch), parseInt(dt.febch), parseInt(dt.march), parseInt(dt.aprch), parseInt(dt.maych), parseInt(dt.junch), parseInt(dt.julch), parseInt(dt.augch), parseInt(dt.sepch), parseInt(dt.octch), parseInt(dt.novch), parseInt(dt.decch)]
                        }])
                    }
                })
                }));
            });
    </script>
     <script>
        $(function (){
        var options = {
            series: [{
                name: "Bugdoy",
                data: [parseInt('{{janb}}'), parseInt('{{febb}}'), parseInt('{{marb}}'), parseInt('{{aprb}}'), parseInt('{{mayb}}'), parseInt('{{junb}}'), '{{julb}}', parseInt('{{augb}}'), parseInt('{{sepb}}'), parseInt('{{octb}}'), parseInt('{{novb}}'), parseInt('{{decb}}')]
            }],
            chart: {
            foreColor:"#bac0c7",
              height: 385,
              type: 'line',
              zoom: {
                enabled: false
              }
            },
            colors:['#0F5EF7'],
            dataLabels: {
              enabled: false,
            },
            stroke: {
                show: true,
                curve: 'smooth',
                lineCap: 'butt',
                colors: undefined,
                width: 5,
                dashArray: 0,
            },
            markers: {
                size: 5,
                colors: '#ffffff',
                strokeColors: '#0F5EF7',
                strokeWidth: 3,
                strokeOpacity: 0.9,
                strokeDashArray: 0,
                fillOpacity: 1,
                discrete: [],
                shape: "circle",
                radius: 5,
                offsetX: 0,
                offsetY: 0,
                onClick: undefined,
                onDblClick: undefined,
                hover: {
                  size: undefined,
                  sizeOffset: 3
                }
            },
            grid: {
                borderColor: '#f7f7f7',
              row: {
                colors: ['transparent'], // takes an array which will be repeated on columns
                opacity: 0
              },
              yaxis: {
                lines: {
                  show: true,
                },
              },
            },
            xaxis: {
              categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
              labels: {
                show: true,
              },
              axisBorder: {
                show: true
              },
              axisTicks: {
                show: true
              },
              tooltip: {
                enabled: true,
              },
            },
            yaxis: {
              labels: {
                show: true,
                formatter: function (val) {
                  return val + " sum";
                }
              },
            },
          };
          var chart = new ApexCharts(document.querySelector("#charts_widget_43_chart1"), options);
          chart.render(false);
          if ( $("#client").change(function ()  {
                client = document.getElementById('client').value;
                var data = {
                        'client': String(client),
                    }
                $.ajax({
                    type: 'GET',
                    url: '{% url "getchangechartdashbug" %}',
                    data: data,
                    success: function (dt) {
                        chart.updateSeries([{
                            name: "Bugdoy",
                            data: [parseInt(dt.janb), parseInt(dt.febb), parseInt(dt.marb), parseInt(dt.aprb), parseInt(dt.mayb), parseInt(dt.junb), parseInt(dt.julb), parseInt(dt.augb), parseInt(dt.sepb), parseInt(dt.octb), parseInt(dt.novb), parseInt(dt.decb)]
                        }])
                    }
                })
                }));

        })
    </script>
    <script src="{% static 'main/js/pages/dashboard.js' %}"></script>
        <!-- ajax for smart select -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
    function myFunction() {
        start = document.getElementById('start').value;
        end = document.getElementById('end').value;
        var data = {
            'start': String(start),
            'end': String(end),
        }
        $.ajax({
            type: 'GET',
            url: '{% url "getdashdetailkassa" %}',
            data: data,
            success: function (dt){
                document.getElementById('neworder').innerText = dt.neworder;
                document.getElementById('oldorder').innerText = dt.oldorder;
                document.getElementById('newqaytuv').innerText = dt.newqaytuv;
                document.getElementById('oldqaytuv').innerText = dt.oldqaytuv;
                document.getElementById('un_new').innerText = dt.un_new;
                document.getElementById('un_old').innerText = dt.un_old;
            }
        });

        $.ajax({
            type: 'GET',
            url: '{% url "getdashdetalsotuv" %}',
            data: data,
            success: function (dt){
                document.getElementById('ac_order_sum').innerText = dt.ac_order_sum;
                document.getElementById('qaytuvsumma').innerText = dt.qaytuvsumma;
                document.getElementById('oldorder').innerText = dt.oldorder;
            }
        });
    }
    </script>


    <script>
        $('#myFunction').click(function () {
            start = document.getElementById('start').value;
            end = document.getElementById('end').value;
            var data = {
                'start': String(start),
                'end': String(end),
            }
            // get mijoz filter
          $.ajax({
            url: '{% url "getdashdetailmijoz" %}',
            data:data,
            success: function (data) {
              $("#id_customber").html(data);
            }
          });
            // get  hududlar summasi
          $.ajax({
            url: '{% url "getdashhududsumma" %}',
            data:data,
            success: function (data) {
              $("#hudud_summa").html(data);
            }
          });
            // get seller hududlar summasi
          $.ajax({
            url: '{% url "getdashsellerhududsumma" %}',
            data:data,
            success: function (data) {
              $("#seller_hudud_summa").html(data);
            }
          });

        });
      </script>

    <script>
        $(document).ready(function () {
            // mijozlar filter 
          $.ajax({
            url: '{% url "getdashdetailmijoz" %}',
            success: function (data) {
              $("#id_customber").html(data);
            }
          });
            // hudud summa filter 
          $.ajax({
            url: '{% url "getdashhududsumma" %}',
            success: function (data) {
              $("#hudud_summa").html(data);
            }
          });
            // seller  hudud summa filter 
          $.ajax({
            url: '{% url "getdashsellerhududsumma" %}',
            success: function (data) {
              $("#seller_hudud_summa").html(data);
            }
          });
    
        });
      </script>


{% endblock js %}