<ul class="sidebar-menu" data-widget="tree">


    <li>
        <a href="{% url 'yordamchi_bugalter_dashboard' %}">
            <i data-feather="clipboard"></i>
            <span>Mijozlar</span>
        </a>
    </li>
    <li>
        <a href="{% url 'operator-aktiv-orders' %}">
            <i data-feather="clipboard"></i>
            <span>Buyurtmalar</span>
        </a>
    </li>
    <li>
        <a href="{% url 'logout' %}">
            <i data-feather="lock"></i>
            <span>Chiqish</span>
        </a>
    </li>

</ul>