<ul class="sidebar-menu" data-widget="tree">

    <!-- <li>
        <a href="{% url 'bugalter_dashboard' %}">
            <i data-feather="pie-chart"></i>
            <span>Dashboard</span>
        </a>
    </li> -->
<!--    <li>-->
<!--        <a href="{% url 'sotuvchi-get-order' %}">-->
<!--            <i data-feather="grid"></i>-->
<!--            <span>Pul olish</span>-->
<!--        </a>-->

<!--    </li>-->
    <li>
        <a href="{% url 'bugdoy_hisobi' %}">
            <i data-feather="grid"></i>
            <span>Bugdoy hisobi</span>
        </a>
    </li>
    <li>
        <a href="{% url 'bugalter_vozvrat' %}">
            <i data-feather="grid"></i>
            <span>Vozvratlar hisobi</span>
        </a>
    </li>
    <li>
        <a href="{% url 'bugdoy_clients' %}">
            <i data-feather="clipboard"></i>
            <span>Bugdoy taminotchilari</span>
        </a>
    </li>
    <li>
        <a href="{% url 'un_clients' %}">
            <i data-feather="clipboard"></i>
            <span>Un taminotchilari</span>
        </a>
    </li>
    <li>
        <a href="{% url 'qop_clients' %}">
            <i data-feather="clipboard"></i>
            <span>Qop ta'minotchilari</span>
        </a>
    </li>
    <!-- <li>
        <a href="{% url 'sotuv-rahbari-seller-list' %}">
            <i data-feather="users"></i>
            <span>Sotuvchilar</span>
        </a>
    </li> -->
    <li>
        <a href="{% url 'bugalter_clients' %}">
            <i data-feather="clipboard"></i>
            <span>Mijozlar</span>
        </a>
    </li>
    <li>
        <a href="{% url 'wheatexpances' %}">
            <i data-feather="clipboard"></i>
            <span>Bugdoy chiqimlar</span>
        </a>
    </li>
    <li>
        <a href="{% url 'unexpances' %}">
            <i data-feather="clipboard"></i>
            <span>Un chiqimlar</span>
        </a>
    </li>

    <li class="treeview">
        <a href="">
            <span class="iconify" data-icon="fluent:payment-16-filled" style="font-size: 28px;"></span> 
            <span>Kassa</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu" >
                
            <li><a href="{% url 'bank-kassa' %}"><i class="ti-more"></i>Bank kassa</a></li>
          </ul>
    </li>

    <li>
        <a href="{% url 'logout' %}">
            <i data-feather="lock"></i>
            <span>Chiqish</span>
        </a>
    </li>

</ul>