{% extends 'base/base.html' %}
{% load static %}
{% block css %}

{% endblock css %}
{% block menu %}
    {% include 'menu/menu_tarozi_hisobchi.html' %}
{% endblock menu %}
{% block content %}
    <div class="content-wrapper">
        <div class="container-full">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="row">
                    <div class="col-lg-12">
                        <form action="{% url 'create-akt-post' %}" method="post" class="form-inline">
                            {% csrf_token %}
                            <div class="form-group p-3">
                                <input type="text" class="form-control" name="name" placeholder="Akt nomi" required
                                       style="width: 220px;">
                            </div>
                            <div class="form-group p-3">
                                <select class="form-control" name="client" style="width: 220px;" required>
                                    <option value="">Taminotchi</option>
                                    {% for client in clients %}
                                        <option value="{{ client.id }}">{{ client.compony }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group p-3">
                                <input type="text" class="form-control" name="stansiya" required placeholder="Stansiya"
                                       style="width: 220px;">
                            </div>
                            <div class="form-group p-3">
                                <input type="date" class="form-control" placeholder="Text input" required name="date_start"
                                       style="width: 220px;">
                            </div>
                            <div class="form-group p-3">
                                <select class="form-control" name="branch" style="width: 220px;" required>
                                    <option value="">Omborga</option>
                                    {% for branch in branchs %}
                                        <option value="{{ branch.id }}">{{ branch.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group p-3">
                                <button type="submit" class="btn btn-success">Qo'shish <i class="fa fa-plus"></i></button>
                            </div>
                            <!-- <button type="button" data-toggle="modal" class="btn btn-primary" data-target="#modal-center">
                                    Yangi qo'shish
                            </button> -->
                        </form>
                    </div>
                </div>
            </div>
            <section class="content">
                <div class="row">
                    <div class="col-12">
                        <div class="box">
                            <div class="box-header with-border">
                                <div class="row">
                                    <div class="col-xl-4">
                                        <h4 class="box-title">Aktlar ro'yxati</h4>
                                    </div>
                                    <div class="col-xl-4">
{#                                        <div class="input-group">#}
{#                                            <input type="text" class="form-control" name="search_akt">#}
{#                                            <div class="input-group-addon">#}
{#                                                <i class="fa fa-search"></i>#}
{#                                            </div>#}
{#                                        </div>#}

                                    </div>
                                    <div class="col-xl-4">
                                        <div class="input-group">
                                            <input type="text" onchange="filterdate(this)" class="form-control pull-right" id="reservation">
                                            <a href="" id="date_f">
                                            <div class="input-group-addon" style="padding:10px; border-radius: 0px 10px 10px 0px;">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                                </a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="table-responsive-lg">
                                    <table class="table mb-0" id="excel28">
                                        <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Akt nomi</th>
                                            <th scope="col">Sana</th>
                                            <th scope="col">Taminotchi</th>
                                            <th scope="col">Stansiya</th>
                                            <th scope="col">Vagon soni</th>
                                            <th scope="col">Kimga</th>
                                            <th scope="col">Status</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for akt in akts %}
                                            <tr>
                                                <th scope="row">{{ forloop.counter }}</th>
                                                <td><a href="{% url 'akt-detail' %}?akt={{ akt.id }}">{{ akt.name }}</a></td>
                                                <td>{{ akt.date_start }}</td>
                                                <td><a href="{% url 'akt-detail' %}?akt={{ akt.id }}">{{ akt.client.compony }}</a></td>
                                                <td>{{ akt.stansiya }}</td>
                                                <td>{{ akt.wagons.all|length }}</td>
                                                <td>{{ akt.branch.name }}</td>
                                                {% if akt.status == 1 %}
                                                    <td><span class="badge badge-warning">Buyurtma olindi</span></td>
                                                {% else %}
                                                    <td><span class="badge badge-success">Qabul qilindi</span></td>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                </div>
            </section>

            <!-- <div class="modal center-modal fade" id="modal-center" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Taminotchi qo'shish</h5>
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="{% url 'craete-client' %}" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <p style="color: white">Kompaniya ismi</p>
                                    <input type="text" name="compony" class="form-control">
                                </div>
                                <div class="form-group">
                                    <p style="color: white">Taminotchi ismi</p>
                                    <input type="text" name="name" class="form-control">
                                </div>
                                <div class="form-group">
                                    <p style="color: white">Taminotchi hududi</p>
                                    <input type="text" name="hudud" class="form-control">
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-6">
                                            <p style="color: white">Taminotchi telefon nomeri</p>
                                        </div>
                                        <div style="text-align: end" class="col-6">
                                            <p style="color: white">Namuna 998991234567</p>
                                        </div>
                                    </div>
                                    <input type="number" name="phone" class="form-control">
                                </div>
                                <div class="form-group">
                                    <button type="button" class="btn btn-rounded btn-secondary"
                                            data-dismiss="modal">
                                        Yopish
                                    </button>
                                    <button type="submit" class="btn btn-rounded btn-primary float-right">Qo'shish</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div> -->

        </div>
    </div>
{% endblock content %}
{% block js %}
    <script src="{% static 'assets/vendor_components/select2/dist/js/select2.full.js' %}"></script>
    <script src="{% static 'assets/vendor_plugins/input-mask/jquery.inputmask.js' %}"></script>
    <script src="{% static 'assets/vendor_components/moment/min/moment.min.js' %}"></script>
    <script src="{% static 'assets/vendor_components/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'assets/vendor_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'main/js/pages/advanced-form-element.js' %}"></script>

    <script src="{% static 'assets/vendor_components/datatable/datatables.min.js'%}"></script>
	<script src="{% static 'main/js/pages/data-table.js'%}"></script>

      <script>
        $('#excel28').DataTable( {
     'dom': 'Blfrtip',
     'buttons': [
         'excel',
         'pdf'
     ],
     'pageLength':100,
     'lengthChange': true,
     
 } );
 </script>

    <script>
        function filterdate(date){
            var date_str = date.value.split(" - ")
            var url_f = "?date_start="+date_str[0]+"&date_end="+date_str[1];
            $("#date_f").attr("href",url_f);
        }
    </script>
{% endblock js %}