{% extends 'base/base.html' %}
{% load static %}
{% load mathfilters %}
{% block css %}

{% endblock css %}
{% block menu %}
    {% if user.type == 8 %}
    {% include 'menu/menu_tarozi_hisobchi.html' %}
    {% elif user.type == 10  %}
    {% include 'menu/menu_texnolog.html' %}
    {% elif user.type == 1  %}
    {% include 'menu/menu_director.html' %}
    {% elif user.type == 4  %}
    {% include 'menu/menu_sotuvchi.html' %}
    {% else %}
    {% include 'menu/menu_tarozi_moliya.html' %}
    {% endif %}
{% endblock menu %}
{% block content %}
    <div class="content-wrapper">
        <div class="container-full">
            <section class="content">
                <div class="row" style="padding-top:10px;">
                    <div class="col-12">
                        <div class="box">
                            <div class="box-header with-border">
                                <h4 class="box-title">Un Ombori</h4>
                             

                                <form id="basketForm" data-products-url="{% url 'ajax_load_tegirmon_products' %}"  novalidate>
                                    {% csrf_token %}
        
                                     <div class="form-group p-3 text-center" style="display: flex; flex-direction: row; flex-wrap: nowrap; align-content: center; justify-content: center;">
                                        <select class="form-control " style="width: 410px; text-align: center;"  id="id_tegirmon"  name="tegirmon" required>
                                            <option value="">Omborni tanlang</option>
                                            {% for teg in tegirmon %}
                                                <option value="{{ teg.id }}">{{ teg.name }} </option>
                                            {% endfor %}
                                        </select>
                                    </div>
        
                                </form>


                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="table-responsive" id="id_products">

                                  

                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock content %}
{% block js %}
<!-- Vendor JS -->

    <!-- ajax for smart select -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        $("#id_tegirmon").change(function () {
        var url = $("#basketForm").attr("data-products-url");
        var tegirmonId = $(this).val();

        $.ajax({
            url: url,
            data: {
            'tegirmon': tegirmonId
            },
            success: function (data) {
            $("#id_products").html(data);
            }
        });

        });
    </script>

    <script>
        $(document).ready(function () {
            var url = $("#basketForm").attr("data-products-url");
            var tegirmonId = $(this).val();
    
        $.ajax({
            url: url,
            
            data: {
            'tegirmon': tegirmonId
            },
            success: function (data) {
            $("#id_products").html(data);
            }
        });
    
        });
    </script>


<script>
    if(window.location.pathname.includes("/director")){
       let contentWrapper = document.querySelector(".content-wrapper")
       contentWrapper.setAttribute("style","background:rgb(8, 5, 27)")
       let box = document.querySelectorAll(".box").forEach(item=>item.setAttribute("style","background:rgb(24, 24, 56)"))
      
       let selectInput = document.querySelectorAll(".selectableDark").forEach(item=>item.setAttribute("style","background:rgb(24, 24, 56)"))
       
       let input = document.querySelector("#reservation")
       input.setAttribute("style","background:rgb(24, 24, 56)") 
 
       let selectBox = document.querySelector(".dataTables_length").firstElementChild.firstElementChild
       let searchBox = document.querySelector("#excel_filter").firstElementChild.firstElementChild
       let pagination = document.querySelectorAll(".pagination .paginate_button a")

       pagination.forEach(item=>item.setAttribute("style", "background:#12185e"))
       selectBox.setAttribute("style","background-color:#14173d")
       searchBox.setAttribute("style","background-color:#14173d")
    }
</script>


    <script src="{% static 'assets/vendor_components/datatable/datatables.min.js'%}"></script>
	<script src="{% static 'main/js/pages/data-table.js'%}"></script>
	<!-- Sunny Admin App -->

{% endblock js %}